* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
}

main {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 2rem;
}

.block {
    display: flex;
    border: 1px solid black;
    background-color: aqua;
    padding: 2rem;
}

.text {
    font-size: 2rem;
}

input[type=button] {
    margin-top: 5rem;
    border: 0;
    background-color: rgb(29, 45, 65);
    width: 10rem;
    height: 5rem;
    border-radius: 10px;

    color: white;
    font-size: 1.5rem;

    cursor: pointer;
}

input[type=button]:active {
    color: aqua;
}

#res {
    color: rgb(0, 47, 255);
    margin-top: 2rem;
    font-size: 30px;
}

@media screen and (max-width: 820px) {
    main {
        display: block;
    }

    .block {
        display: block;
    }
}